@charset "UTF8";
nav{

    font-family: verdana;
    
}
#nav1{
    font-family: verdana;
}
#textList{
    font-family: verdana;
}
#nav1 div{
    margin-left:10%;
    padding: 1px 5px;
    font-family: verdana;
   
}
.sidenav{

}
/*ul.sidenav li.a{
    display: block;
    color: #000;
    text-decoration: none;
}*/

.navBar1 ul{
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    border: 2px solid #555;
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    width: 65%;
    /*height: 100%;
    position: fixed;
    overflow: auto;*/
    overflow: hidden;
    position: fixed;
    top: 200;
}
li{
    float: left;
    
    overflow: hidden;
}
li a{
    text-align: center;
    border-bottom: 2px solid #555;
    
    width: 100px;
    text-decoration: none;
    color: white;
    padding: 6px 8px;
}
li:last-child{
    border-bottom: none;
}
li a:hover{
    background-color: #555;
    color: green;
}
li a:hover:not(.active) {
    background-color: #555;
    color: yellow;
}
li .active{
    background-color: white;
    color: rgb(88, 88, 202);
}

a{

    font-family: verdana;
}

.dropdown{

    font-family: verdana;
}

.dropdown-content{

    font-family: verdana;
}
.dropdown-content a{

    font-family: verdana;

}

.dropdown-content a:hover{

    font-family: verdana;
}

.dropdown:hover .dropdown-content{
    
    font-family: verdana;
}
/*
NEW
*/
@media (max-width:700px) and (min-width:200px) {
    .navBarFreet1{
       font-size: 50px !important;
    }
}
.navBarFreet1 {
    
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    background-color: rgb(86, 178, 240);
    position: relative;
    font-size: calc(50px + 4vmin) !important;
    width: 100%;
    height: 100%;
   
    
    
}